org.apache.ws.security.crypto.provider=org.apache.ws.security.components.crypto.Merlin
org.apache.ws.security.crypto.merlin.keystore.type=jks
org.apache.ws.security.crypto.merlin.keystore.password=s1st3m4s
org.apache.ws.security.crypto.merlin.keystore.alias=cifrado.bancolombia
org.apache.ws.security.crypto.merlin.keystore.file=certificates/cphr_bancolombia_prod.jks